body{
    background: rgb(228, 222, 115);
}

h1, p{
    text-align: center;
}
.link {
    text-align: center;  
}

.link a {
    margin: 0 10px;
    color: brown;
    
}


.croissant{
    display: block;
    margin: 30px auto;
    border-radius: 10px;
    box-shadow: 50px;
}